@{
    ViewData["Title"] = "Mesajlarım";
    Layout = "~/Views/DefaultLayout/Index.cshtml";
}
@using AspnetCoreMessageIdentity.DAL.Entities;
@model List<Mails>
@{
    string cardCss = "";
    string TagCss = "";

}
<div class="wrapper wrapper-content">
    <div class="row">

        @await Component.InvokeAsync("_MailboxSideComponentPartial")
      
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const selectAllCheckbox = document.getElementById('select-all');
                const checkboxes = document.querySelectorAll('.checkbox');

                selectAllCheckbox.addEventListener('change', function () {
                    checkboxes.forEach(checkbox => {
                        checkbox.checked = selectAllCheckbox.checked;
                    });
                });

                checkboxes.forEach(checkbox => {
                    checkbox.addEventListener('change', function () {
                        if (!checkbox.checked) {
                            selectAllCheckbox.checked = false;
                        } else {
                            const allChecked = Array.from(checkboxes).every(cb => cb.checked);
                            selectAllCheckbox.checked = allChecked;
                        }
                    });
                });
            });
            function getSelectedCheckboxesForReadMarkFolder() {

                var checkboxes = document.querySelectorAll('input[name="MarkChekbox"]:checked');
                var selected = [];
                checkboxes.forEach((checkbox) => {
                    selected.push(checkbox.value);
                });

                $.ajax({
                    url: '/Mailbox/ChangeReadAsMark',
                    method: 'post',
                    data: { items: selected },
                    success: function () {
                        window.location.reload(true);
                    }
                });


            }


            function getSelectedCheckboxesForTrashFolder() {
                Swal.fire({
                    title: "Emin misiniz?",
                    text: "Seçili kayıtlar çöp kutusuna taşınsın mı?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Evet",
                    cancelButtonText: "Vazgeç",
                }).then((result) => {
                    if (result.isConfirmed) {
                        var checkboxes = document.querySelectorAll('input[name="MarkChekbox"]:checked');
                        var selected = [];
                        checkboxes.forEach((checkbox) => {
                            selected.push(checkbox.value);
                        });

                        $.ajax({
                            url: '/Mailbox/MoveMessageToTrashFolder',
                            method: 'post',
                            data: { items: selected },
                            success: function () {
                                window.location.reload(true);
                            }
                        });
                    }
                });



            }
        </script>
        @if (Model.Count > 0)
        {

            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">

                    <h2>
                        <i class="fa fa-envelope" aria-hidden="true"></i>    Mesajlarım (@Model.Count())
                    </h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group float-right">

                            @*   buraya paged list gelecek *@


                        </div>
                        <a href="/Mailbox/Index" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Mesajları yenile"><i class="fa fa-refresh"></i> Yenile</a>
                        <button onclick="getSelectedCheckboxesForReadMarkFolder()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Okundu olarak işaretle"><i class="fa fa-eye"></i> </button>
                        <button onclick="getSelectedCheckboxesForTrashFolder()" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Çöp Kutusuna Taşı"><i class="fa fa-trash-o"></i> </button>

                    </div>

                </div>
                <div class="mail-box">
                    <label style="margin-left:5px;" class="p-3">  <input type="checkbox" id="select-all" /> Tümünü Seç</label>
                    <table class="table table-hover table-mail">
                        <tbody>
                            @foreach (var item in Model)
                            {

                                @if (item.IsRead)
                                {
                                    cardCss = "read";
                                }
                                else
                                {
                                    cardCss = "unread";
                                }
                                @if (item.MailTagsID == 1)
                                {
                                    TagCss = "label-dark";
                                }
                                else if (item.MailTagsID == 2)
                                {
                                    TagCss = "label-danger";
                                }
                                else
                                {
                                    TagCss = "label-success";
                                }
                                <tr class="@cardCss">
                                    <td class="check-mail">
                                        <input type="checkbox" name="MarkChekbox" value="@item.MailsId" class="i-checks checkbox">
                                    </td>
                                    <td class="mail-ontact"><i class="fa fa-user text-primary" aria-hidden="true"></i> <a style="text-transform:capitalize" href="/MailboxDetail/Index/@item.MailsId">&nbsp; @item.Sender.NameSurname</a><span class="label @TagCss float-right">@item.MailTag.TagName</span></td>
                                    <td class="mail-subject"><a href="/MailboxDetail/Index/@item.MailsId"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp; @(item.Subject.Length > 20 ? item.Subject.Substring(0, 20) + "..." : item.Subject)</a></td>
                                    @if (item.Attachment != null)
                                    {
                                        <td><i class="fa fa-paperclip"></i></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (item.IsImportant)
                                    {
                                        <td><i class="fa fa-exclamation text-danger" aria-hidden="true"></i>&nbsp; Önemli Seviye</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (item.IsReply)
                                    {
                                        <td class="text-right mail-date">Yanıtlandı</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (item.IsForwad)
                                    {
                                        <td class="text-right mail-date"><span style="text-transform:capitalize; font-weight:bold">@item.Sender.NameSurname</span> tarafından iletildi.</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td class="text-right mail-date"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp; @(((DateTime)item.Date).ToString("f"))</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">

                    <h2>
                        Henüz Hiç Mesajınız yok
                    </h2>
                </div>
            </div>
        }

       
    </div>
</div>





    
