@using AspnetCoreMessageIdentity.DAL.Entities;
@model Mails
@{
    ViewData["Title"] = "Index";
}
<script>
    function printPage(divId) {
        var printContents = document.getElementById(divId).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>

<div class="col-lg animated fadeInRight" id="mail-body">
    <div class="mail-box-header">
        @if (ViewBag.ReplyDate != null)
        {
                 <h5>@(((DateTime)ViewBag.ReplyDate).ToString("f")) tarihinde yanıtladınız.</h5>

        }
   
        <br />
        <h4>@ViewBag.DetailTitle</h4>
        <br />
    </div>
    <div class="mail-box">


        <div class="mail-body">
            @Html.Raw(Model.Content)
        </div>

        @if (Model.Attachment != null)
        {
            <div class="mail-attachment">
                <p>
                    <span><i class="fa fa-paperclip"></i> Ekli Dosya </span>
                </p>
                <div class="attachment">
                    <div class="file-box">
                        <div class="file">
                            <a href="@Model.Attachment" download>
                                <span class="corner"></span>
                                <div class="icon">
                                    <i class="fa fa-file"></i>
                                </div>
                                <div class="file-name">
                                    @Model.Attachment
                                    <br />
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }

    </div>

</div>
