
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <a class="btn btn-block btn-primary compose-mail" href="/Mailbox/Composemessage">Mesaj Gönder</a>
                <div class="space-25"></div>
                <h5>Klasörler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Mailbox/Index"> <i class="fa fa-inbox "></i> Mesajlarım <span class="label label-success float-right">@ViewBag.MessageCount</span> </a></li>
@*                     <li><a href="/Mailbox/Index"> <i class="fa fa-arrow-right"></i> İletilen Mesajlar <span class="label label-success float-right">@ViewBag.MessageCount</span> </a></li>
                    <li><a href="/Mailbox/Index"> <i class="fa fa-reply "></i> İlettiğim Mesajlar <span class="label label-success float-right">@ViewBag.MessageCount</span> </a></li> *@
                    <li><a href="/Mailbox/SentMails"> <i class="fa fa-envelope-o"></i> Gönderilenler  <span class="label label-warning float-right">@ViewBag.SentMessageCount</span></a></li>
                    <li><a href="/Mailbox/ImportantMails"> <i class="fa fa-certificate"></i> Önemli Mesajlar  <span class="label label-primary float-right">@ViewBag.ImportantMessageCount</span></a></li>
                    <li><a href="/Mailbox/DraftMails"> <i class="fa fa-file-text-o"></i> Taslaklar <span class="label label-info float-right">@ViewBag.DraftCount</span></a></li>
                    <li><a href="/Mailbox/TrashMails"> <i class="fa fa-trash-o"></i> Çöp Kutusu  <span class="label label-danger float-right">@ViewBag.TrashCount</span></a></li>
                </ul>
                <h5>Mesaj Kategorileri</h5>
                <ul class="category-list" style="padding: 0">
                    <li><a href="#"> <i class="fa fa-circle text-navy"></i>Aile</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-danger"></i>İş</a></li>
                    <li><a href="#"> <i class="fa fa-circle text-primary"></i>Okul</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>